# Created by .ignore support plugin (hsz.mobi)
.idea/
config.json
index.js
index.js.map
index.js.d.ts
node_modules/
src/**/*.js
src/**/*.js.map
src/**/*.d.ts
test/**/*.js
test/**/*.js.map
test/**/*.d.ts
xlf-google-translate.iml
cli.js
cli.js.map
cli.js.d.ts
